<html>
<head>
	<title>%%docfile%% - DViz</title>
	<link rel="shortcut icon" type="image/x-icon" href="/:/data/http/favicon.ico">
	<link rel="stylesheet" type="text/css" href='/:/data/http/styles.css' />
	<script src="/:/data/http/control-scripts.js"></script>
</head>
<body>
	<h1>%%docfile%%</h1>
	
	%%include::/data/http/inc-ctrl-toggles.tmpl%%
	
	<table>
	%%loop:list%%
		<tr>
			<td><a href='/group/%%group%%'><img src='/group/%%group%%/icon' border=0 %%if:live_flag%% style='border:2px solid red;padding:1px' %%/if:live_flag%%></a></td>
			<td><a href='/group/%%group%%'>%%text%%</a></td>
			<td><a href='/group/%%group%%'>%%if:live_flag%%<font color='red'><b>LIVE</b></font>%%/if:live_flag%%</a></td>
		</tr>
	%%/loop:list%%
	</table>
</body>
</html>
