<html>
<head>
	<title>%%grouptitle%% - DViz</title>
	<link rel="shortcut icon" type="image/x-icon" href="/:/data/http/favicon.ico">
	<link rel="stylesheet" type="text/css" href='/:/data/http/styles.css' />
	<script src="/:/data/http/control-scripts.js"></script>
</head>
<body>
	<h1>%%grouptitle%%</h1>
	<a href='/?nocache=%%date%%'>&laquo; Main</a> | %%include::/data/http/inc-ctrl-toggles.tmpl%%
	<table>
	%%loop:list%%
		<tr>
			<td><a name='slide%%slide%%'><a href='#slide%%slide%%' onclick='return false'><img id='img%%slide%%' onclick='setSlide("/group/%%groupidx%%?slide=%%slide%%",this)' src='/group/%%groupidx%%/icon?slide=%%slide%%' border=0 class='%%if:live_flag%%live%%else%%notlive%%/if:live_flag%%' alt='%%if:text%%%%text%%%%/if:text%%'></a></a>
			<script>window.imageElementList.push(document.getElementById('img%%slide%%'));%%if:live_flag%%checkTextForSlide(document.getElementById('img%%slide%%'))%%/if:live_flag%%</script>
			</td>
			%%if:text%%<td>%%text%%</td>%%/if:text%%
			
		</tr>
	%%/loop:list%%
	</table>
</body>
</html>
