%%if:black_toggled%%
<a href='#' onclick='toggle_black(1,this)' class='ctrl_enabled'>Black</a>
%%else%%
<a href='#' onclick='toggle_black(0,this)' class='ctrl_disabled'>Black</a>
%%/if:black_toggled%%
|
%%if:clear_toggled%%
<a href='#' onclick='toggle_clear(1,this)' class='ctrl_enabled'>Clear</a>
%%else%%
<a href='#' onclick='toggle_clear(0,this)' class='ctrl_disabled'>Clear</a>
%%/if:clear_toggled%%
