<html>
<head>
	<title>%%grouptitle%% - DViz</title>
	<link rel="shortcut icon" type="image/x-icon" href="/:/data/http/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href='/:/data/http/styles.css' />
	
	<!--<script src="/:/data/http/control-scripts.js"></script>-->
	<script src="/data/http/control-scripts.js"></script>
	
	<meta name="viewport" content="user-scalable=no, width=320" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	
	
	<style>
	body {
		margin: 0;
		padding: 0;
		background: white;
		font-family: Sans-Serif;
	}
	
	body, td {
		font-size: 12px;
	}
	
	h1 {
		margin:0;
		padding: 5px 5px;
		background: rgb(220,220,220);
		border-bottom: 1px solid black;
		font-size: 14px;
	}
	
	
	#nav {
		position: fixed;
		top: 0;
		left: 0;
		background: rgba(163,194,255,.8);
		z-index: 100;
	}
	
	#nav #buttons a {
		width: 100%;
		height: 100%;
		background: green;
		display: block;
		padding: 1em .25em;
		color: white;
		text-decoration: none;
		border: 1px solid black;
		font-size: 20px;
		font-weight: bold;
	}
	
	#nav #buttons #back a {
		background: rgb(80,80,80);
	}
	
	#nav #buttons a:active,
	#nav #buttons a:focus {
		background: rgb(160,0,0);
	}
	
	#nav #buttons #back a:active,
	#nav #buttons #back a:focus {
		background: rgb(120,120,120);
	}
	
	
	#slides {
		margin-top: 140px;
		/*background: #a3c2ff;*/
	}
	
	ul.menu, 
	ul.menu li {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	
	ul.menu {
		padding-bottom: 3.5em;
	}
	
	ul.menu li a {
		padding: .5em 1em;
		display: block;
		border: 1px solid black;
		margin: .5em 0em 0 1em;
		background: white;
		text-decoration:none;
		
	}
	
	
	ul.menu li {
		float: left;
	}
	
	#slides {
		/*margin-left: .5em;*/
	}
	
	</style>
</head>
<body>
	<table id='nav' width='100%' cellspacing=0 cellpadding=0 border=0>
		<tr id='header' align=center>
			<td colspan=99>
				<h1>%%grouptitle%%</h1>
			</td>
		</tr>
		<tr id='smallnav'>
			<td align=center>
				<ul class='menu'>
					<li> <a href='/?nocache=%%date%%'>&laquo; Main</a> </li>
				
					<li> 
					%%if:black_toggled%%
						<a href='#' onclick='toggle_black(1,this)' class='ctrl_enabled'>Black</a>
					%%else%%
						<a href='#' onclick='toggle_black(0,this)' class='ctrl_disabled'>Black</a>
					%%/if:black_toggled%%
					</li>
					
					<li>
					%%if:clear_toggled%%
						<a href='#' onclick='toggle_clear(1,this)' class='ctrl_enabled'>Clear</a>
					%%else%%
						<a href='#' onclick='toggle_clear(0,this)' class='ctrl_disabled'>Clear</a>
					%%/if:clear_toggled%%
					</li>
				</ul>
			</td>
		</tr>
		<tr id='buttons'>
			<td id='next' width='75%' align=center valign=center>
				<a class='button button-next' id='next_link' href='javascript:void(gotoUrl("/go/next"));'>Next &raquo;</a>
			</td>
			<td id='back' width='25%' align=center valign=center>
				<a class='button button-prev' id='prev_link' href='javascript:void(gotoUrl("/go/prev"));'>&laquo; Prev</a>
			</td>
		</tr>
	</table>
	
	<table id='slides' align=right>
	%%loop:list%%
		<tr>
			<td>
				<a name='slide%%slide%%'>
					<a href='#slide%%slide%%' onclick='return false'>
						<img 
							id='img%%slide%%' 
							onclick='setSlide("/group/%%groupidx%%?slide=%%slide%%",this)' 
							src='/group/%%groupidx%%/icon?slide=%%slide%%' 
							border='0' 
							class='%%if:live_flag%%live%%else%%notlive%%/if:live_flag%%' 
							alt='%%if:text%%%%text%%%%/if:text%%'/>
					</a>
				</a>
				<script>
					window.imageElementList.push(document.getElementById('img%%slide%%'));
					%%if:live_flag%%checkTextForSlide(document.getElementById('img%%slide%%'))%%/if:live_flag%%
				</script>
			</td>
			%%if:text%%<td>%%text%%</td>%%/if:text%%
			
		</tr>
	%%/loop:list%%
	</table>
	
	<div class=fc></div>
</body>
</html>
