	<table>
	%%loop:list%%
		<tr>
			<td><a name='slide%%slide%%'><a href='#slide%%slide%%' onclick='return false'><img id='img%%slide%%' onclick='setSlide("/group/%%groupidx%%?slide=%%slide%%",this)' src='/group/%%groupidx%%/icon?slide=%%slide%%' border=0 class='%%if:live_flag%%live%%else%%notlive%%/if:live_flag%%'></a></a>
			<script>window.imageElementList.push(document.getElementById('img%%slide%%'))</script>
			</td>
			%%if:text%%<td>%%text%%</td>%%/if:text%%
			
		</tr>
	%%/loop:list%%
	</table>