%%if:black_toggled%%
<a href='#' onclick='toggle_black(1,this)' class='ctrl_enabled'>Black</a>
%%else%%
<a href='#' onclick='toggle_black(0,this)' class='ctrl_disabled'>Black</a>
%%/if:black_toggled%%
|
%%if:clear_toggled%%
<a href='#' onclick='toggle_clear(1,this)' class='ctrl_enabled'>Clear</a>
%%else%%
<a href='#' onclick='toggle_clear(0,this)' class='ctrl_disabled'>Clear</a>
%%/if:clear_toggled%%
| <a href='#' onclick='gotoUrl("/go/prev")'>Prev</a>
| <a href='#' onclick='gotoUrl("/go/next")'>Next</a>
<br/>
Quick: <input type='text' id='qslide' lenth='10' onfocus='select()' onkeyup="if_enter(event,'toggle_qslide()')"/>%%if:qslide_toggled%%
<a href='#' onclick='toggle_qslide(1,this)' class='ctrl_enabled' id='quickslide_link'>Show</a>
%%else%%
<a href='#' onclick='toggle_qslide(0,this)' class='ctrl_disabled' id='quickslide_link'>Show</a>
%%/if:qslide_toggled%%

